<head>    <meta charset="UTF-8">    <meta name="viewport" content="width=device-width, initial-scale=1.0">    <meta http-equiv="X-UA-Compatible" content="ie=edge">    <title>File Name</title></head><body cz-shortcut-listen="true" style="
    background: pink;
"><div id="i4c-draggable-container" style="position: fixed; z-index: 1499; width: 0px; height: 0px;"><div data-reactroot="" class="resolved" style="all: initial;"></div>


</div>    <h1>Page Inspect</h1>    <p style="
    margin: 20px;
    background: burlywood;
">Here is your new file!</p><a href="/hello-world"> Going back</a><div id="i4c-dialogs-container"></div><div id="i4c-dialogs-container"></div></body>